<header>
  <h1>Angular 13 Image Compression PoC</h1>
</header>

<hr />

<form>
  <label for="quality">Quality(specify a number from 1 - 100):</label>
  <input type="text" id="quality" [(ngModel)]="quality" name="quality" />
</form>

<form>
  <label for="ratio">Ratio (for Jpeg file only):</label>
  <input type="text" id="ratio" [(ngModel)]="ratio" name="ratio" />
</form>

<section>
<!--  <button (click)="compressFile()">Upload and compress jpeg</button>-->
<!--  <button (click)="compressPng()">Upload and compress png</button>-->
  <input type="file" (change)="onFileSelected($event)"/>
<!--  <button [disabled]="!fileBuffer" (click)="processImage()">Encode PNG</button>-->
  <p *ngIf="imgResultBeforeCompression">Image before compression: </p>
  <img *ngIf="imgResultBeforeCompression" [src]="imgResultBeforeCompression" alt="cannot display image/heif file in browser" />

  <p *ngIf="imgResultBeforeCompression">Compressing... </p>
  <p *ngIf="imgResultAfterCompression">Image after compression: </p>
  <img *ngIf="imgResultAfterCompression" [src]="imgResultAfterCompression" alt="" />


<!--  benchmarks-->
  <p *ngIf="imgResultAfterCompression">
    MIME Type of uploaded image: {{ imageType }}
  </p>
  <p *ngIf="imgResultAfterCompression"> Size before compression: {{sizeBeforeCompression}} Mb</p>
  <p *ngIf="imgResultAfterCompression"> Size after compression: {{sizeAfterCompression}} Mb</p>
  <p *ngIf="imgResultAfterCompression"> Compression ratio: {{compressionRatio}}</p>
  <p *ngIf="imgResultAfterCompression"> Time spent: {{compressionTime}} seconds</p>
</section>

<hr />
